<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    #pp{
        width: 200px;
        height: 200px;
        /* background-color: #ccc; */
        border: 1px solid #ccc
    }
    .cc{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis
    }
    </style>
</head>
<body>
    <div id="pp" >
      <p class="cc">sdfsdf sfsdf <span>dfsdf sfsdf </span> <span>阿斯顿发送到</span> </p>
    </div>
    <script>

    </script>
</body>
</html>